body {
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider img {
  width: 400px;
  height: 600px;
  object-fit: cover;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}
