.defolt{
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
ul{
    margin: 20px;
}
li{
    margin-bottom: 10px;
}
.active{
    background-color: blue;
}