.loader-container {
    margin: 50px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    display: flex;
    z-index: 1;
}

.spinner {
    border: 8px solid black; 
    border-top: 8px solid lightgray; 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}