.gallery {
  margin-top: 100px;
  display: flex;
  gap: 15px;
}

.photo {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.photo.active {
  transform: scale(1.4);
}
